:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}


.container-landing {
    max-width: 1200px;
    margin: auto;

}



.logo-cinetopia {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3em;
}

.text-nav {

    font-size: 1.3em;
}

.news-cinetopia,
.container-form-cinetopia,
.container-news-cinetopia {

    margin: 100px auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}